:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --circle-size: 50px;
  --gap-size: 25px;
  --vertical-gap-size: calc(var(--gap-size) - var(--circle-size) * (1 - 1.73 / 2));
  --offset-size: calc(0.5 * (var(--circle-size) + var(--gap-size)));
  --lines-angle: 62deg;

  /* --forest-color: darkgreen;
  --grassland-color: darkgoldenrod;
  --wetland-color: rgb(8, 71, 92); */

  --forest-color: #53bc97;
  --grassland-color: #ebb868;
  --wetland-color: #7ec3e4;
}

code {
  white-space: pre-wrap;
}

.dot {
  height: var(--circle-size);
  width: var(--circle-size);
  background-color: #dbd9e4;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  outline: 5px solid #735b55;
  /* z-index: 1; */
}

.dot:has(.nest) {
  background-color: #735b55;
  outline-offset: -1px;
}

.duet-map {
  display: flex;
  flex-direction: column;
  gap: var(--vertical-gap-size);
  /* margin-top: var(--circle-size); */
  margin-top: calc(10px +    0.5 / 1.73 * (var(--circle-size) + var(--gap-size)));
}

.main-bar {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

input { 
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #888;
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--gap-size);
  position: relative;
}

.row::before,
.southeast-6::before, .southeast-4::before, .southeast-2::before,
.southwest-6::after, .southwest-5::after, .southwest-3::after {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  background-color: #735b55;
  z-index: -1;
}

.row::before {
  top: calc(var(--circle-size) / 2);
  width: calc(var(--circle-size) * 6 + var(--gap-size) * 5);
  transform: translateY(-50%);
}

.southeast-6::before {
  top: calc(5 / 2 * var(--vertical-gap-size) + 3 * var(--circle-size));
  left: calc(-3 / 2 * var(--circle-size) - 3 / 2 * var(--gap-size) + 1 / 2 * var(--offset-size));
  width: calc(var(--circle-size) * 6 + var(--gap-size) * 5);
  transform: rotate(var(--lines-angle));
}

.southeast-4::before {
  top: calc(3 / 2 * var(--vertical-gap-size) + 2 * var(--circle-size));
  left: calc(-1 / 2 * var(--circle-size) - 1 / 2 * var(--gap-size) - 1 / 2 * var(--offset-size));
  width: calc(var(--circle-size) * 4 + var(--gap-size) * 3);
  transform: rotate(var(--lines-angle));
}

.southeast-2::before {
  top: calc(1 / 2 * var(--vertical-gap-size) + var(--circle-size));
  left: calc(-1 / 2 * var(--circle-size) - 1 / 2 * var(--gap-size) + 1 / 2 * var(--offset-size));
  width: calc(var(--circle-size) * 2 + var(--gap-size));
  transform: rotate(var(--lines-angle));
}

.southwest-6::after {
  top: calc(5 / 2 * var(--vertical-gap-size) + 3 * var(--circle-size));
  left: calc(-7 / 2 * var(--circle-size) - 7 / 2 * var(--gap-size) - 1 / 2 * var(--offset-size));
  width: calc(var(--circle-size) * 6 + var(--gap-size) * 5);
  transform: rotate(calc(-1 * var(--lines-angle)));
}

.southwest-5::after {
  top: calc(2 * var(--vertical-gap-size) + 5/2 * var(--circle-size));
  left: calc(-3 * var(--circle-size) - 3 * var(--gap-size));
  width: calc(var(--circle-size) * 5 + var(--gap-size) * 4);
  transform: rotate(calc(-1 * var(--lines-angle)));
}

.southwest-3::after {
  top: calc(var(--vertical-gap-size) + 3/2 * var(--circle-size));
  left: calc(-3/2 * var(--circle-size) - 3/2 * var(--gap-size));
  width: calc(var(--circle-size) * 3 + var(--gap-size) * 2);
  transform: rotate(calc(-1 * var(--lines-angle)));
}

/* .hex-container {
  position: relative;
} */

.hexagon {
  position: absolute;
  top: 0px;
  left: calc(-0.5 * var(--gap-size));
  /* width: 50px; */
  width: calc(var(--circle-size) + var(--gap-size));
  height: 50px;
  background-color: #64C7CC;
  margin: 0;
  z-index: -2;
}
.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: 0;
  left: 0px;
  border-left: calc(0.5 * (var(--circle-size) + var(--gap-size))) solid transparent;
  border-right: calc(0.5 * (var(--circle-size) + var(--gap-size))) solid transparent;
 
}
.hexagon::before {
  bottom: 100%;
  border-bottom: calc(0.5 / 1.73 * (var(--circle-size) + var(--gap-size))) solid #64C7CC;
}
.hexagon::after {
  top: 100%;
  width: 0;
  border-top: calc(0.5 / 1.73 * (var(--circle-size) + var(--gap-size))) solid #64C7CC;
}

.dot-container {
  height: var(--circle-size);
  position: relative;
}

.odd {
  margin-left: var(--offset-size);
}

.forest {
  background-color: var(--forest-color);
}
.forest::before { border-bottom-color: var(--forest-color); }
.forest::after  { border-top-color: var(--forest-color); }

.grassland {
  background-color: var(--grassland-color);
}
.grassland::before { border-bottom-color: var(--grassland-color); }
.grassland::after  { border-top-color: var(--grassland-color); }

.wetland {
  background-color:var(--wetland-color);
}
.wetland::before { border-bottom-color: var(--wetland-color); }
.wetland::after  { border-top-color: var(--wetland-color); }

.bonus {
  width: calc(var(--circle-size) * 0.6);
  position: absolute;
  left: calc(-0.3 * var(--circle-size));
  top: calc(var(--circle-size) * 0.2);
  z-index: 2;
}

/* img {
  z-index: 1;
} */

img {
  /* pointer-events: none; */
  user-select: none;
}

.criterion {
  width: calc(var(--circle-size) * 0.75);
  /* top: calc(var(--circle-size) * 0.125);
  left: calc(var(--circle-size) * 0.125); */
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.wingspan {
  width: var(--circle-size);
}
.beak {
  width: calc(0.95 * var(--circle-size));
  height: calc(0.95 * var(--circle-size));
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
